$primary: cornflowerblue;
$primary-hover: rgb(170, 199, 255);
$default: #bbb;
$default-hover: #ccc;
$danger: red;
$danger-hover: rgb(251, 96, 96);

.button {
  padding: 4px 12px;
  border-radius: 4px;
  cursor: pointer;
  color: white;
}

.primary {
  background: $primary;
  &:not(.disabled):hover {
    background: $primary-hover;
  }
}

.default {
  background: $default;
  color: unset;
  &:not(.disabled):hover {
    background: $default-hover;
  }
}

.danger {
  background: $danger;
  &:not(.disabled):hover {
    background: $danger-hover;
  }
}

.disabled {
  opacity: 0.5;
  cursor: default;
}
