$padding: 8px;

.container {
  display: flex;
  flex-direction: column;
  padding: $padding;
  gap: 8px;
  height: 90vh;

  h1 {
    font-family: "Raleway";
    font-weight: 300;
    font-size: clamp(24px, 2.4vw, 400px);
  }
}

.content {
  background: white;
  border: 1px solid #999;
  flex-grow: 1;
  padding: $padding;
  overflow: scroll;
}

.details {
  display: flex;
  align-items: center;
  gap: 8px;
}

.tags {
  display: flex;
  gap: 8px;
}
