@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;500;&family=Noto+Sans:wght@100&family=Rethink+Sans:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@100;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible&display=swap");

$pad: 8px;
$font: "Atkinson Hyperlegible", sans-serif;

.container {
  display: flex;
  height: 100vh;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: column;
  gap: 8px;
}

.main {
  display: flex;
  justify-content: space-between;
  overflow: hidden;
  flex-grow: 1;
}

.pane {
  padding-top: $pad;
  padding-bottom: $pad;
  padding-left: $pad;
  width: 33vw;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.sortOptions {
  display: flex;
  gap: 8px;

  select {
    width: 50%;
    font-family: $font;
  }
}

.list {
  flex-grow: 1;
  overflow-y: scroll;
  font-family: $font;
}

.detail {
  width: 67vw;
  overflow: hidden;
  display: flex;
  flex-direction: column;

  h1,
  h4 {
    margin: 0;
  }

  .note {
    padding: 0 12px;
    overflow: hidden;
  }
}

.buttons {
  display: flex;
  justify-content: flex-end;
  gap: 8px;
  width: calc(100% - 16px);
  padding: 8px;
}

body {
  font-family: $font;

  padding: 0;
  margin: 0;
  background: #eee;
  background: rgba(240, 240, 240, 1);
  background: -moz-radial-gradient(
    center,
    ellipse cover,
    rgba(240, 240, 240, 1) 0%,
    rgba(230, 230, 230, 1) 47%,
    rgba(222, 222, 222, 1) 100%
  );
  background: -webkit-gradient(
    radial,
    center center,
    0px,
    center center,
    100%,
    color-stop(0%, rgba(240, 240, 240, 1)),
    color-stop(47%, rgba(230, 230, 230, 1)),
    color-stop(100%, rgba(222, 222, 222, 1))
  );
  background: -webkit-radial-gradient(
    center,
    ellipse cover,
    rgba(240, 240, 240, 1) 0%,
    rgba(230, 230, 230, 1) 47%,
    rgba(222, 222, 222, 1) 100%
  );
  background: -o-radial-gradient(
    center,
    ellipse cover,

    rgba(240, 240, 240, 1) 0%,
    rgba(230, 230, 230, 1) 47%,
    rgba(222, 222, 222, 1) 100%
  );
  background: -ms-radial-gradient(
    center,
    ellipse cover,
    rgba(240, 240, 240, 1) 0%,
    rgba(230, 230, 230, 1) 47%,
    rgba(222, 222, 222, 1) 100%
  );
  background: radial-gradient(
    ellipse at center,
    rgba(240, 240, 240, 1) 0%,
    rgba(230, 230, 230, 1) 47%,
    rgba(222, 222, 222, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f0f0f0', endColorstr='#dedede', GradientType=1 );
  background-attachment: fixed;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100vw;
  overflow: hidden;

  code {
    font-family: "Fira Code";
    font-size: 0.8em;
  }
}

h1 {
  font-size: clamp(24px, 2.4vw, 400px);
  margin: 0;
}

h1,
h2 {
  font-family: "DM Sans";
  font-weight: 700;
}

input[type="text"] {
  font-size: 1em;
}
